html {
    background-color: #eeeeec;
    font-family: 'Roboto', 'Open Sans', 'Verdana', Georgia, Serif;
    text-align: center;
    color: #2e3436;
}
body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;

    border: 4px solid #f57900;
    border-radius: 10px;
    background-color: #fcaf3e;
    
    padding: 20px 30px;
    align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 230%;
    margin: 0 50px;
}
header>* {
    margin: 0 10px;
}

button[is="google-cast-button"] {
    width: 40px;
    height: 40px;
}


section {
    margin: 20px 100px 0;
    text-align: left;
    line-height: 1.5;
}

.status {
    width: 230px;
    margin: 0 auto;
    padding: 0 23px;
    background: transparent no-repeat right 4px;
}
.status.yes {
    background-image: url(../res/yes.png);
}
.status.no {
    background-image: url(../res/no.png);
}

.status .help {
    font-size: 70%;
    padding: 0 0 14px 15px;
    text-align: left;
}

#info {
    text-align: center;
    font-size: 70%;
    padding-top: 40px;
}
